.h1 {
    color: #cad2c5;
    font-size: 40px;
    z-index: 3;
    font-weight: bold;
    margin-top: 0px;
}
.h2 {
    color: #cad2c5;
    font-size: 20px;
    z-index: 3;
    margin-top: 12px;
}
.h3 {
    color: #839e89;
    font-size: 15px;
    z-index: 3;
    margin-top: 16px;
    text-wrap: wrap;
    width: 60%
}
