<nav class = "menu">
    <ul class="menu-list">
        <li class="nav">
            <a class="nav" href="#about">
                <span class="nav-indicator"></span>
                <span class="nav-text">ABOUT</span>
            </a>
        </li>
        <li class="nav">
            <a class="nav" href="#experience">
                <span class="nav-indicator"></span>
                <span class="nav-text">EXPERIENCE</span>
            </a>
        </li>
        <li class="nav">
            <a href="#projects">
                <span class="nav-indicator"></span>
                <span class="nav-text">PROJECTS</span>
            </a>
        </li>
    </ul>
</nav>
