body {
    background-color: #1e302b;
    z-index: 1
}
.spotlight {
    position: fixed;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.03) 10%, rgba(255, 255, 255, 0.001) 80%);
    pointer-events: none;
    transform: translate(-50%, -50%);

    z-index: 2;
  }
  div {
    z-index: 3;
    font-family: sans-serif;
  }

  ::selection{
    background-color: #cad2c5;
    color:#333333
  }
  
  html {
    scroll-behavior: smooth;
}