<div class="layout">
    <div class="row">
        <header class = "columnLeft" style="width: 40%;">
            <div>
                <app-title></app-title>
                <app-navigation></app-navigation>
            </div>
                <app-bottom-icons></app-bottom-icons>
        </header>
        <div class = "columnRight" style="width: 55%;">
            <div style="height: max-content;">
                    <app-about-me></app-about-me>
                    <app-experience></app-experience>
            </div>
        </div>
    </div>
</div>

